.container{
    text-align: center;
    margin: 20px auto auto auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
}

@media (max-width: 1800px){
    .grid{
      grid-template-columns: repeat(3, 1fr);
    }

  }

  @media (max-width: 1200px){
    .grid{
      grid-template-columns: repeat(2, 1fr);
    }
}
    
    @media (max-width: 890px){
        .grid{
          grid-template-columns: repeat(2, 1fr);
        }
  }

  @media (max-width: 550px){
    .grid{
      grid-template-columns: repeat(1, 1fr);
    }
    

  }